<div class="page-wrapper search">
	<div class="container narrow-width center div-center">
		<br><br>

		<div class="pull-right">
			<div class="floating-button">
				<a [routerLink]="['/CardForm']">
					<div class="icon">
						<i class="fa fa-plus"></i>
					</div>
				</a>
			</div>
		</div>

		<div class="vertical-align">
			<span style="text-align:left">
				Die Inserate sind maximal drei Monate alt und geordnet nach Datum oder Entfernung.
			</span>
		</div>

		<br>

		<div class="search-wrapper">
			<input [(ngModel)]="plz" (ngModelChange)="updateDistances(plz)" type="number" class="form-control" id="plz-query" placeholder="Ihre Postleitzahl">
		</div>

		<br>
		<div class="cards-wrapper">
			<div class="search-card mb" *ngFor="#card of cards">
				<span class="navbar">
					<a [routerLink]="['/CardForm', {key: key, card: card._id}]" *ngIf="card.key === key">
						<i class="fa fa-pencil-square-o edit"></i>
					</a>
					&nbsp;
					<i class="fa fa-trash-o remove"  (click)="deleteCard(card)" *ngIf="card.key === key"></i>
				</span>
				<img class="card-img" *ngIf="getImageUrl(card.pic)" src="{{getImageUrl(card.pic)}}" alt="Profilbild">
				<img class="card-img" *ngIf="!getImageUrl(card.pic)" src="/img/pf.png" alt="Putzfrau Bild">

				<h4 class="first">{{card.name}}</h4>
				<p class="age">Alter: {{card.age}}</p>
				<p class="price">Preis: {{card.price}} CHF/h</p>
				<!--p class="price" *ngIf="query.plz > 1000">Entfernung: {{card.distance.text}}</p-->
				<p class="d2">{{card.description}}</p>
				<p><a [routerLink]="['/Contact', {card: card._id}]" class="email">Nachricht senden</a></p>
				<p class="clearfix" *ngIf="card.languages" style="position: absolute; bottom: 0; right: 10px">
		    	<span *ngFor="#kvp of card.languages | mapToIterable">
		    		<span class="icon-wrapper flag-size-sm inline-block" *ngIf="kvp.val">
		    			<span class="flag-icon flag-icon-{{kvp.key}} rounded"></span>
		    		</span>
		    	</span>
				</p>
				<p class="clearing"></p>

			</div>
			<hr>
			<div class="center">
				<a [routerLink]="['/Info']">Was muss ich rechtlich alles erledigen?</a>
				<hr>
				Kontakt: <a href="mailto:support@putzfrau-suche.ch">support@putzfrau-suche.ch</a>
				<hr>
				<br><br><br><br>
			</div>

		</div>


	</div>
</div>